/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/livewire-tmp
/public/ads
/public/ads/company
/public/audio
/public/users/podcast_img
/public/users/profile_img
/public/vtt
/public/sponsor