audio{
   width: 100%;
    margin-top: 10px;
    border: 1px solid;
    padding: 8px;
    background: #f1f3f4;
    height: 40px;
    border-radius: 0px;
}

.audio-embed-container iframe{
	width: 100% !important;
}