.bg-custom-pink{ background-color: #f98b88;  }

.bg-custom-gray{ background-color: #5f7c84; }

.bg-custom-green{ background-color: #d3e579; }



.hover-bg-custom-pink:hover{
	/*background-color: #f98b88;*/
	background-color: #f17875;
}

