.bg-custom-pink{ background-color: #f98b88;  }
.border-custom-pink{ border-color:#f98b88;  }
.text-custom-pink{ color:#f98b88;  }

.bg-custom-gray{ background-color: #5f7c84; }
.border-custom-gray{ border-color:#5f7c84;  }
.text-custom-gray{ color:#5f7c84;  }

.bg-custom-green{ background-color: #d3e579; }
.border-custom-green{ border-color:#d3e579;  }
.text-custom-green{ color:#d3e579;  }


.hover-bg-custom-pink:hover{
	/*background-color: #f98b88;*/
	background-color: #f17875;
}



/* front-page */
.front-page-slider{
	margin-top: -356px;
}
.front-page-logo{
	/*width:300px;*/
	margin: 40px 30px 40px 30px;
}
/* front-page */

@media (max-width: 1440px){
  .front-page-slider {
    margin-top: -308px;
  }
}

@media (max-width: 1280px){
  .front-page-slider {
     margin-top: -298px;
  }
}

@media (max-width: 640px){
  .front-page-slider {
     margin-top: 0px;
     margin-bottom: 10px;
  }
  .front-page-container{
  	height: 53vh !important;
  }
}
@media (max-width: 416px){
  .front-page-slider {
     margin-top: 0px;
     margin-bottom: 10px;
  }
  .front-page-container{
  	height: 48vh !important;
  }
}